^target/
/target/
/.idea
/*.iml
/nb-configuration.xml
/.project
/.classpath
/.settings/
/.gradle/
node_modules/
/dump.*
/application-default.yml

# Project exclude paths
/out/
/build/
pom.yml
.mvn
/gradle.properties
/maven-push.gradle
